.cart{
    font-family: 'Acme', sans-serif !important;
}

.card:hover{
    box-shadow: 5px 5px #9ea18e !important;
}

.orderCart{
  /* margin-top: 5% !important;
  margin-right: 5% !important; */
  margin: auto !important;
  margin-left: 50%;
  background-color: #9ea18e;
  color: #fff;
  padding: 13px;
  border-radius: 5px;
  width: 30vw;
  transition: transform .7s !important;
}


.btnMod{
  margin-left: 13% !important;
  margin-bottom: 5% !important;
}
.orderCart:hover{
  color: white !important;
  transform: scale(1.2) !important;
}

@media (min-width: 576px) {
    .col-sm-10 {
      max-width: 83.333333%;
    }
  }

  @media (min-width: 768px) {
    .col-md-10 {
      max-width: 83.333333%;
    }
  }

  @media (min-width: 992px) {
    .col-lg-10 {
      max-width: 83.333333%;
    }
  }

  @media (min-width: 1200px) {
    .col-xl-10 {
      max-width: 83.333333%;
    }
  }

 