* {
    font-family: "Marcellus", serif;
}

.trending-products .title h5 {
    color: #4d4d4d;
}

.trending-products .title h3 {
    color: #9ea18e;
}

.trending-products .row .card a h5 {
    color: #4d4d4d;
}

.trending-products .row .card a:hover {
    color: #9ea18e !important;
}

.trending-products .row .card {
    height: 90vh;
}
.trending-products .row img {
    height: 55vh;
    margin: auto;
}
