*{
    font-family: 'Marcellus', serif;

}

.title h5{
    color: #4d4d4d;
}

.title h3{
    color: #9ea18e;
}

.row .card a h5{
    color: #4d4d4d;
}

.row .card a:hover{
    color: #9ea18e !important;
}

.row .card{
    height: 90vh;
}
.row img{
height: 55vh;
margin: auto;
}