.products-card-info
{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    padding: 2px;
    margin-left: -18%;
    height:85vh !important
}

.image{
  height:25vh;
}


.pagination > li {
    list-style: none;
    border: 0.3px solid;
  }
  .pagination > li > a,
  .pagination > li > span {
    float: left;
    padding: 8px 20px;
    line-height: 1.5;
    border: 1px solid #ddd;
    margin-left: -1px;
  }
  
  .pagination > li.active > a {
    color: #fff;
    background-color: #9ea18e;
    border-color: #9ea18e;
  }
  .pagination > li > a:hover {
    background-color:#9ea18e;
    color: white;
    cursor: pointer;
  }
  .pagination > li:first-child > a,
  .pagination > li:first-child > span {
    margin-left: 0;
  }

  .page-link{
    color:rgb(139, 135, 135) !important;
  }
  .page-link:hover{
    color:#fff !important;
  }

  .butnCart{
    background-color: #9ea18e !important;
    width: 16rem;
    outline: #9ea18e !important;
    border-radius: 5px;
    color:#fff;
    margin-right:3%;
  }

  .pSearch{
    margin-left:15% !important;
  }

  .pSearch input{
    justify-content: space-between !important;
    border-radius: 5px;
    margin-right: 5% !important;
  }

  .pSearch select{
    border-radius: 5px;
  }

  .pagination ReactPaginate{
    border: 1px solid #9ea18e !important;
    border-radius: 15px !important;
  }

  .butnCart:hover{
    color: #fff;
  }


  @media screen and (max-width: 999px) {
    .products-card-info{
      flex-direction: row;
      width: 100%;
      display:block;
      margin-bottom: 180% !important;
    } 
  }